<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>wepaysp</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/config/applicationContext.xml,/WEB-INF/config/actionContext*.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	 <filter>
         <filter-name>GBKEncodingFilter</filter-name>
         <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
         <init-param>
             <param-name>encoding</param-name>
             <param-value>GBK</param-value>
        </init-param>
         <init-param>
             <param-name>forceEncoding</param-name>
             <param-value>true</param-value>
        </init-param>
     </filter>
	
	<filter>
		<filter-name>loginFilter</filter-name>
		<filter-class>com.zbsp.wepaysp.manage.web.security.LoginFilter</filter-class>
	</filter>
	
	<filter>
		<filter-name>webFilter</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	
	<filter>
		<filter-name>securityContextPersistenceFilter</filter-name>
		<filter-class>org.springframework.security.web.context.SecurityContextPersistenceFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>securityContextPersistenceFilter</filter-name>
		<url-pattern>/resources/partner/*</url-pattern>
		<url-pattern>/resources/partner/*</url-pattern>
		<url-pattern></url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>webFilter</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>

     <filter-mapping>
         <filter-name>GBKEncodingFilter</filter-name>
         <url-pattern>/bill/asynNotify</url-pattern>
     </filter-mapping>
     
	<servlet>
		<servlet-name>billAsynNotify</servlet-name>
		<servlet-class>com.zbsp.wepaysp.manage.web.action.edu.AlipayEduBillAsynNotifyServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>billAsynNotify</servlet-name>
		<url-pattern>/bill/asynNotify</url-pattern>
	</servlet-mapping>
  
	<session-config>
		<session-timeout>300</session-timeout>
	</session-config>
	
	<jsp-config>
    	<taglib>
        	<taglib-uri>/permission-tags</taglib-uri>
        	<taglib-location>/WEB-INF/tld/permissionTag.tld</taglib-location>
    	</taglib>
  	</jsp-config>
  	
  	<error-page>
  		<error-code>500</error-code>
  		<location>/resources/include/error.jsp</location>
  	</error-page>
  	<error-page>
  		<error-code>404</error-code>
  		<location>/resources/include/error.jsp</location>
  	</error-page>
  	<error-page>
  		<exception-type>java.lang.Exception</exception-type>
  		<location>/resources/include/error.jsp</location>
  	</error-page>
</web-app>