<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN" monitorInterval="3">
	<properties>
		<property name="LOG_HOME">/mydata/wepay/rest</property>
		<property name="ALL_FILE_NAME">all/ALL</property>
		<property name="TIMER_FILE_NAME">timer/TIMER</property>
		<property name="API_FILE_NAME">api/API</property>
		<property name="WX_FILE_NAME">weixin/WX</property>
		<property name="ALI_FILE_NAME">alipay/alipay</property>
		
		<property name="COMMON_PATTERN">[%5level] [%date{yyyy-MM-dd HH:mm:ss.SSS}] [%F : %L] - %msg%n</property>
	</properties>
	<appenders>
		<!-- 定义 控制台 输出 -->
		<Console name="Console" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="${COMMON_PATTERN}"/>
		</Console>
		<!-- 定义 All 日志输出 -->
		<RollingRandomAccessFile name="AllFile" fileName="${LOG_HOME}/${ALL_FILE_NAME}" filePattern="${LOG_HOME}/${ALL_FILE_NAME}.%d{yyyy-MM-dd-HH}.log" immediateFlush="false">
			<PatternLayout pattern="${COMMON_PATTERN}"/>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			</Policies>
		</RollingRandomAccessFile>
		<RollingRandomAccessFile name="TimerFile" fileName="${LOG_HOME}/${TIMER_FILE_NAME}" filePattern="${LOG_HOME}/${TIMER_FILE_NAME}.%d{yyyy-MM-dd-HH}.log" immediateFlush="false">
			<PatternLayout pattern="${COMMON_PATTERN}"/>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			</Policies>
		</RollingRandomAccessFile>
		<RollingRandomAccessFile name="ApiFile" fileName="${LOG_HOME}/${API_FILE_NAME}" filePattern="${LOG_HOME}/${API_FILE_NAME}.%d{yyyy-MM-dd-HH}.log" immediateFlush="false">
			<PatternLayout pattern="${COMMON_PATTERN}"/>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			</Policies>
		</RollingRandomAccessFile>
		<RollingRandomAccessFile name="wxFile" fileName="${LOG_HOME}/${WX_FILE_NAME}" filePattern="${LOG_HOME}/${WX_FILE_NAME}.%d{yyyy-MM-dd-HH}.log" immediateFlush="false">
			<PatternLayout pattern="${COMMON_PATTERN}"/>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			</Policies>
		</RollingRandomAccessFile>
		<RollingRandomAccessFile name="ALiFile" fileName="${LOG_HOME}/${ALI_FILE_NAME}" filePattern="${LOG_HOME}/${ALI_FILE_NAME}.%d{yyyy-MM-dd-HH}.log" immediateFlush="false">
			<PatternLayout pattern="${COMMON_PATTERN}"/>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			</Policies>
		</RollingRandomAccessFile>
		
	</appenders>
	<loggers>
		<!-- Root Logger -->
		<AsyncRoot level="INFO" includeLocation="true">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="AllFile"/>
		</AsyncRoot>
		<!-- Timer logger -->
		<AsyncLogger name="com.zbsp.wepaysp.timer" level="INFO" includeLocation="true" additivity="false">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="AllFile"/>
			<AppenderRef ref="TimerFile"/>
		</AsyncLogger>
		<!-- Api logger -->
		<AsyncLogger name="com.zbsp.wepaysp.api" level="INFO" includeLocation="true" additivity="false">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="AllFile"/>
			<AppenderRef ref="ApiFile"/>
		</AsyncLogger>
		<!-- Weixin logger -->
		<AsyncLogger name="com.tencent" level="INFO" includeLocation="true" additivity="false">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="AllFile"/>
			<AppenderRef ref="wxFile"/>
		</AsyncLogger>
		
		<!-- AliPay logger -->
		<AsyncLogger name="com.alipay" level="INFO" includeLocation="true" additivity="false">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="AllFile"/>
			<AppenderRef ref="ALiFile"/>
		</AsyncLogger>
		
		<!-- AliPay logger -->
		<AsyncLogger name="com.zbsp.alipay" level="INFO" includeLocation="true" additivity="false">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="AllFile"/>
			<AppenderRef ref="ALiFile"/>
		</AsyncLogger>
	</loggers>
</configuration>   