.Wdate{
	background:#fff url(datePicker.gif) no-repeat right;
	border:1px solid #d1e4f5;
	height:15px;
	width:96%;
	font-size:12px;
	color:#595959;
}

.WdateFmtErr{
	font-weight:bold;
	color:red;
}